ion-title{
    text-align: center;
}
.font-size-50{
    font-size: 50px;
}
.width-full{
    width: 100%;
}
.background-black{
    background-color: black;
}
.background-white{
    background-color: white;
}